.body-container{
    width: 80%;
    margin: 1rem auto;

}
.top-part{
    display: flex;
    justify-content: space-between;
}
.main-body{
    margin-top: 1rem;
    background-color: #545353;
    padding: 16px 20px;
    border-radius: 12px;
}
.main-body-name{
    display: flex;
    justify-content: space-between;
}
.table{
    margin-top: 1rem;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #8d8c8c;
}
.input {
    width: 150px;
    padding: 8px 12px;
    background-color: #646464;
    color: white;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
  }
  .input::-webkit-outer-spin-button,
  .input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .input::placeholder {
    color: white;
    opacity: 0.5;
  }
.th{
    border-right: 1px solid #8d8c8c;
  border-bottom: 1px solid #8d8c8c;
  padding: 12px 8px;
  text-align: left;
  font-size: 14px;
  color: white; 
}
.submit-btn{
    margin: 0 auto;
    margin-top: 1rem;
    padding: 8px 10px;
    height: 40px;
    display: block;
    color: white;
    background-color: #1880cc;
    border: none;
    border-radius: 8px;
}